<footer>
  <div class="content-width">
    <div class="footer-container">
      <div class="logo-and-text">
        <a href="#landing-page"><img src="assets/imgs/logo-page.png" alt="logo"></a>
        <p>Frontend Entwickler</p>
        <p>Eilenburg Deutschland</p>
      </div>
      <div class="copyright">
        <p>&copy; Robby Runge 2025</p>
      </div>
      <div class="links">
        <a href="">GitHub</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
        <a href="">Legal Notice</a>
      </div>
    </div>
  </div>
</footer>
