<footer>
  <div class="content-width">
    <div class="footer-container">
      <div class="logo-and-text">
        <a href="#landing-page"><img src="assets/imgs/logo-page.png" alt="logo"></a>
        <p>Frontend Entwickler</p>
        <p>Eilenburg Deutschland</p>
      </div>
      <div class="copyright">
        <p>&copy; Robby Runge 2025</p>
      </div>
      <div class="links">
        <a href="https://github.com/RobbyRunge" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/robby-runge-796494368" target="_blank">LinkedIn</a>
        <a href="mailto:robbyrunge@yahoo.com">Email</a>
        <a href="">Legal Notice</a>
      </div>
    </div>
  </div>
</footer>