<footer>
  <div class="content-width">
    <div class="footer-container">
      <div class="logo-and-text">
        <a href="#landing-page"><img src="assets/imgs/logo-page.png" alt="logo"></a>
        <p>{{ 'FOOTER.DEVELOPER' | translate }}</p>
        <p>{{ 'FOOTER.LOCATION' | translate }}</p>
      </div>
      <div class="copyright">
        <p>&copy; Robby Runge 2025</p>
      </div>
      <div class="links">
        <a href="https://github.com/RobbyRunge" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/robby-runge-796494368" target="_blank">LinkedIn</a>
        <a href="mailto:robbyrunge@yahoo.com">{{ 'FOOTER.EMAIL' | translate }}</a>
        <a (click)="openLegalNotice($event)">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
      </div>
    </div>
  </div>

  <div class="legal-notice-overlay" [class.active]="showLegalNotice">
    <div class="overlay-content">
      <button class="close-button" (click)="closeLegalNotice()"></button>
      <h2>{{ 'FOOTER.LEGAL_NOTICE' | translate }}</h2>
      <div class="scroll-content">
        <p>{{ 'FOOTER.LEGAL.TITLE' | translate }}</p>
        <p [innerHTML]="'FOOTER.LEGAL.CONTACT' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.REPRESENTATIVE' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.CONTACT_INFO' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.DISCLAIMER' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.LIABILITY' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.COPYRIGHT' | translate"></p>
        <p [innerHTML]="'FOOTER.LEGAL.PRIVACY' | translate"></p>
      </div>
    </div>
  </div>
</footer>