.about-me {
  background-color: rgba(28, 28, 28, 1);
  height: 100vh;

  .content-width {
    display: flex;
    justify-content: center;
    align-items: center;

    .container-picture-and-about-me {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 708px;
      width: 100%;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}

.profil-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  img {
    width: 568px;
    height: 568px;
    border-radius: 30px;
  }
}

.about-me-info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 568px;
  height: 588px;
  z-index: 2;

  p {
    margin: 0;
    text-align: start;
    font-size: 24px;
    font-weight: 500;
    color: rgba(61, 207, 182, 1);
  }
}

.about-me-text {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 540px;
  width: 566px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 30px;
  background-color: rgba(31, 46, 43, 1);
  padding: 32px;
  box-sizing: border-box;

  h3 {
    color: rgba(61, 207, 182, 1);
    font-size: 64px;
    font-weight: 700;
    font-family: Fira Code;
    margin: 0;
    text-align: start;
  }
}