<div id="about-me-section" class="about-me">
  <div class="content-width">
    <div class="container-picture-and-about-me">
      <div class="profil-img">
        <img src="assets/imgs/pb/pb_github.png" alt="Profile image">
      </div>
      <div class="about-me-info">
        <p>Wer Ich bin</p>

        <div class="about-me-text">
          <h3>Über mich</h3>
          <p>Hallo, ich bin Robby. Die IT ist für mich eine großartige Inspirationsquelle, denn ich lerne gerne ständig
            neue Dinge und bleibe so immer am Puls der Technik. Schon immer hat mich dieses spannende Feld fasziniert.
            Es macht einfach Spaß, Probleme zu lösen, zu programmieren oder innovative Lösungen zu entwickeln. Die
            Mischung aus Kreativität und Logik begeistert mich jeden Tag aufs Neue!</p>

          <div class="text1">
            <img src="assets/imgs/about-me/location-on.png" alt="location">
            <span>Mein derzeitiger Wohnort ist Eilenburg. Ich stehe Remote-Arbeit (Home-Office) sehr offen gegenüber.</span>
          </div>

          <div class="text1">
            <img src="assets/imgs/about-me/cognition.png" alt="location">
            <span>Ich liebe neue Technologien und lerne ständig dazu – durch Praxis, Projekte und Weiterbildung.</span>
          </div>

          <div class="text1">
            <img src="assets/imgs/about-me/new-releases.png" alt="location">
            <span>Mein Ansatz: Probleme analytisch zerlegen, kreativ lösen – immer mit Fokus auf elegante, effiziente Ergebnisse. Ausdauer und Teamwork helfen mir, aus jeder Herausforderung zu lernen.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>