<header>
  <div class="nav-bar">
    <div class="language-slider" (click)="changeButton()">
      <div class="slider-track">
        <div class="slider-thumb" [class.english]="!isGerman"></div>
        <span class="lang-text de" [class.active]="isGerman">DE</span>
        <span class="lang-text en" [class.active]="!isGerman">EN</span>
      </div>
    </div>

    <div class="day-night-slider" (click)="changeButtonDayAndNight()">
      <div class="slider-track">
        <div class="slider-thumb" [class.night]="isNight"></div>
        <span class="lang-symbol day" [class.active]="!isNight">☀</span>
        <span class="lang-symbol night" [class.active]="isNight">●</span>
      </div>
    </div>

    <a (click)="navigateToSection('about-me-section')">{{ 'NAV.ABOUT' | translate }}</a>
    <a (click)="navigateToSection('skills-section')">{{ 'NAV.SKILLS' | translate }}</a>
    <a (click)="navigateToSection('projects-section')">{{ 'NAV.PROJECTS' | translate }}</a>
  </div>

  <img class="logo" (click)="navigateToSection('landing-page')" src="assets/imgs/logo-page.png" alt="logo">

  <div class="hamburger-icon" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="mobile-menu" [class.open]="mobileMenuOpen">
    <div class="mobile-nav-items">
      <a (click)="navigateToSection('about-me-section')">{{ 'NAV.ABOUT' | translate }}</a>
      <a (click)="navigateToSection('skills-section')">{{ 'NAV.SKILLS' | translate }}</a>
      <a (click)="navigateToSection('projects-section')">{{ 'NAV.PROJECTS' | translate }}</a>
      <div class="language-slider" (click)="changeButton()">
        <div class="slider-track">
          <div class="slider-thumb" [class.english]="!isGerman"></div>
          <span class="lang-text de" [class.active]="isGerman">DE</span>
          <span class="lang-text en" [class.active]="!isGerman">EN</span>
        </div>
      </div>
    </div>
  </div>
</header>