<div class="contact-me">
  <div class="content-width">
    <div class="contact-me-container">
      <div class="work-together">
        <p class="contact-me-text">Kontaktiere Sie mich</p>
        <h3>Lassen Sie uns zusammenarbeiten</h3>
        <p class="problem-text">Haben Sie ein Problem zu lösen?</p>
        <p class="need-me-text">Ob Projektmanagement, Digitalisierung oder Prozessoptimierung – mit mir an Ihrer Seite
          wird's strategisch, kreativ und vor allem wirksam. Ich bringe nicht nur Expertise, sondern auch frischen Wind
          in Ihre Vorhaben.<br>
          <br>
          Brauchen Sie einen Frontend-Entwickler?<span> Lassen Sie uns reden!</span>
        </p>
      </div>
      <div class="form">
        <div class="input-fields">
          <div class="name">
            <p>Wie ist Ihr Name?</p>
            <input type="text">
          </div>
          <div class="email">
            <p>Wie lautet Ihre Email?</p>
            <input type="email">
          </div>
          <div class="message">
            <p>Wie kann ich Ihnen helfen?</p>
            <input type="text">
          </div>
        </div>
        <p>X Ich habe die <span> Datenschutzbestimmungen</span> gelesen und bin mit der Verarbeitung meiner Daten
          einverstanden.</p>
        <button>Sag Hallo ;)</button>
      </div>
    </div>
  </div>
</div>