.contact-me {
  background-color: rgba(28, 28, 28, 1);
  height: 100vh;

  .content-width {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .contact-me-container {
      display: flex;
      height: 541px;
      width: 100%;

      .work-together {
        width: 50%;
        height: auto;

        .contact-me-text {
          font-size: 24px;
          font-weight: 500;
          color: rgba(61, 207, 182, 1);
          margin: 0;
          margin-bottom: 16px;
        }

        h3 {
          font-family: Fira Code;
          font-weight: 700;
          font-size: 64px;
          color: rgba(61, 207, 182, 1);
          line-height: 0.8;
          margin: 0;
          margin-bottom: 24px;
        }

        .problem-text {
          font-family: Fira Code;
          font-weight: 700;
          font-size: 24px;
          color: rgba(61, 207, 182, 1);
        }

        .need-me-text {
          line-height: 1.6;

          span {
            font-weight: 700;
            color: rgba(61, 207, 182, 1);
          }
        }
      }

      .form {
        width: 50%;
        height: auto;
        text-align: center;

        .input-fields {
          height: 393px;

          %form-position {
            text-align: start;
            padding: 24px;
            height: 80px;

            p {
              font-family: Fira Code;
              font-size: 24px;
              font-weight: 500;
              color: rgba(61, 207, 182, 1);
              margin: 0;
              margin-bottom: 16px
            }
          }

          .name {
            @extend %form-position;
            border-top: 1px solid rgba(61, 207, 182, 1);
            border-bottom: 1px solid rgba(61, 207, 182, 1);
          }

          .email {
            @extend %form-position;
            border-top: 1px solid rgba(61, 207, 182, 1);
            border-bottom: 1px solid rgba(61, 207, 182, 1);
          }

          .message {
            @extend %form-position;
            border-top: 1px solid rgba(61, 207, 182, 1);
            border-bottom: 1px solid rgba(61, 207, 182, 1);
          }
        }
      }
    }
  }
}