<div class="contact-me">
  <div class="content-width">
    <div class="contact-me-container">
      <div class="work-together">
        <p class="contact-me-text">Kontaktiere Sie mich</p>
        <h3>Lassen Sie uns zusammenarbeiten</h3>
        <p class="problem-text">Haben Sie ein Problem zu lösen?</p>
        <p class="need-me-text">Ob Projektmanagement, Digitalisierung oder Prozessoptimierung – mit mir an Ihrer Seite wird's strategisch, kreativ und vor allem wirksam. Ich bringe nicht nur Expertise, sondern auch frischen Wind in Ihre Vorhaben.<br>
          <br>
          Brauchen Sie einen Frontend-Entwickler?<span> Lassen Sie uns reden!</span></p>
      </div>
      <div class="form"></div>
    </div>
  </div>
</div>