<div class="about-me">
  <div class="content-width">
    <div data-aos="fade-up" class="about-me-inner">
      <p class="section-label">{{ 'ABOUT.WHO_I_AM' | translate }}</p>

      <div class="about-me-text">
        <h3 class="typewriter">{{ 'ABOUT.TITLE' | translate }}</h3>
        <p>{{ 'ABOUT.INTRO' | translate }}</p>

        <div class="icon-row">
          <div class="icon-text">
            <img src="assets/imgs/about-me/location-on.png" alt="location">
            <span>{{ 'ABOUT.LOCATION' | translate }}</span>
          </div>

          <div class="icon-text">
            <img src="assets/imgs/about-me/cognition.png" alt="learning">
            <span>{{ 'ABOUT.LEARNING' | translate }}</span>
          </div>

          <div class="icon-text">
            <img src="assets/imgs/about-me/new-releases.png" alt="approach">
            <span>{{ 'ABOUT.APPROACH' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
