<div class="about-me">
  <div class="content-width">
    <div class="container-picture-and-about-me">
      <div class="profil-img" id="profile-container">
        <img src="assets/imgs/pb/pb.png" alt="Profile image">
        <img class="background-hover" src="assets/imgs/about-me/hover-background.png" alt="Background image">
      </div>
      <div class="about-me-info">
        <p>{{ 'ABOUT.WHO_I_AM' | translate }}</p>

        <div class="about-me-text">
          <h3>{{ 'ABOUT.TITLE' | translate }}</h3>
          <p>{{ 'ABOUT.INTRO' | translate }}</p>

          <div class="text1">
            <img src="assets/imgs/about-me/location-on.png" alt="location">
            <span>{{ 'ABOUT.LOCATION' | translate }}</span>
          </div>

          <div class="text1">
            <img src="assets/imgs/about-me/cognition.png" alt="learning">
            <span>{{ 'ABOUT.LEARNING' | translate }}</span>
          </div>

          <div class="text1">
            <img src="assets/imgs/about-me/new-releases.png" alt="approach">
            <span>{{ 'ABOUT.APPROACH' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>