<div id="skills-section" class="skills">
  <div class="background-img"></div>
  <div class="content-width">
    <div class="container-skill-set-and-icons">
      <div class="skill-set">
        <p>Technologien</p>
        <div class="skill-set-text">
          <h3>Skill Set</h3>
          <p>Ich entwickle moderne Webanwendungen mit HTML5, CSS3, JavaScript/TypeScript und Frameworks wie Angular. Mir
            liegt Clean Code, Performance und UX am Herzen. Da sich die Webentwicklung schnell wandelt, lerne ich
            ständig dazu – ob neue Tools, Bibliotheken oder Best Practices. Flexibilität und Anpassungsfähigkeit sind
            für mich selbstverständlich.</p>

          <h4>Brauchen eine <span>weitere Fähigkeit?</span></h4>
          <p>Nehmen Sie Kontakt mit mir auf. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.</p>

          <button>
            <span class="text-container">Reden wir</span>
          </button>
        </div>
      </div>

      <div class="skill-icons">
        <img src="assets/imgs/skills/html.png" alt="html icon">
        <img src="assets/imgs/skills/css.png" alt="css icon">
        <img src="assets/imgs/skills/javascript.png" alt="javascript icon">
        <img src="assets/imgs/skills/material-design.png" alt="material-design icon">
        <img src="assets/imgs/skills/typescript.png" alt="typescript icon">
        <img src="assets/imgs/skills/angular.png" alt="angular icon">
        <img src="assets/imgs/skills/firebase.png" alt="firebase icon">
        <img src="assets/imgs/skills/git.png" alt="git icon">
        <img src="assets/imgs/skills/rest-api.png" alt="rest-api icon">
        <img src="assets/imgs/skills/scrum.png" alt="scrum icon">
        <img src="assets/imgs/skills/growth-mindset.png" alt="growth-mindset icon">
      </div>
    </div>
  </div>
</div>