<div id="skills-section" class="skills">
  <div class="background-img"></div>
  <div class="content-width">
    <div class="container-skill-set-and-icons">
      <div class="skill-set">
        <p>Technologien</p>
        <div class="skill-set-text">
          <h3>Skill Set</h3>
          <p>Ich entwickle moderne Webanwendungen mit HTML5, CSS3, JavaScript/TypeScript und Frameworks wie Angular. Mir
            liegt Clean Code, Performance und UX am Herzen. Da sich die Webentwicklung schnell wandelt, lerne ich
            ständig dazu – ob neue Tools, Bibliotheken oder Best Practices. Flexibilität und Anpassungsfähigkeit sind
            für mich selbstverständlich.</p>

          <h4>Brauchen eine <span>weitere Fähigkeit?</span></h4>
          <p>Nehmen Sie Kontakt mit mir auf. Ich freue mich darauf, mein bisheriges Wissen zu erweitern.</p>

          <button>
            <span class="text-container">Reden wir</span>
          </button>
        </div>
      </div>

      <div class="skill-icons">
        @for (skill of skills; track skill.name) {
        <div class="text-bottom-icon">
          <img [src]="skill.iconPath" [alt]="skill.alt">
          <p>{{ skill.name }}</p>
        </div>
        }

        <div class="text-bottom-icon tooltip">
          <img src="assets/imgs/skills/growth-mindset.png" alt="Growth mindset">
          <p class="text-color-change-by-icon">Growth mindset</p>

          <div class="tooltiptext">
            <span>Ich habe ein besonderes Interesse am Lernen</span>
            <div class="icon-position">
              <div>
                <img src="assets/imgs/skills/react.png" alt="React icon">
                <p>React</p>
              </div>
              <div>
                <img src="assets/imgs/skills/vue-js.png" alt="Vue Js icon">
                <p>Vue Js</p>
              </div>
            </div>
            <img class="arrow-indicator" src="assets/imgs/skills/arrow-skills.png" alt="Arrow indicator">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>