<div class="colleagues">
  <div class="content-width">
    <div class="container-colleagues-say">
      <h3>Was meine Kollegen über mich sagen</h3>

      <div class="card-switch">

        <div class="inactive-commit">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque dignissimos tenetur officiis
            excepturi
            et distinctio deserunt, quam harum minus.</p>
          <div class="author">
            <div class="border-card"></div>
            <p>T.Test - Team Partner</p>
          </div>
        </div>

        <div class="active-commit">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque dignissimos tenetur officiis
            excepturi
            et distinctio deserunt, quam harum minus.</p>
          <div class="author">
            <div class="border-card"></div>
            <p>T.Test - Team Partner</p>
          </div>
        </div>

        <div class="inactive-commit">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam neque dignissimos tenetur officiis
            excepturi
            et distinctio deserunt, quam harum minus.</p>
          <div class="author">
            <div class="border-card"></div>
            <p>T.Test - Team Partner</p>
          </div>
        </div>
      </div>

      <div class="navigation-cards">
        <div class="arrow-container">
          <img class="normal" src="assets/imgs/colleagues/arrow-back.png" alt="Previous testimonial">
          <img class="hover" src="assets/imgs/colleagues/arrow-back-hover.png" alt="Previous testimonial hover">
        </div>
        <div class="points">
          <img src="assets/imgs/colleagues/point.png" alt="">
          <img src="assets/imgs/colleagues/point.png" alt="">
          <img src="assets/imgs/colleagues/point.png" alt="">
        </div>
        <div class="arrow-container">
          <img class="normal" src="assets/imgs/colleagues/arrow-forward.png" alt="Next testimonial">
          <img class="hover" src="assets/imgs/colleagues/arrow-forward-hover.png" alt="Next testimonial hover">
        </div>
      </div>
    </div>
  </div>
</div>