header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 98px;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;

  .nav-container {
    position: relative;
    display: inline-block;

    img {
      cursor: pointer;
      display: block;
    }

    .normal {
      transition: opacity 125ms ease-in-out;
    }

    .hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 125ms ease-in-out;
    }

    &:hover {
      .normal {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }

  a {
    position: relative;
    transition: all 125ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: rgba(61, 207, 182, 1);
      transition: width 125ms ease-in-out;
    }

    &:hover {
      color: rgba(61, 207, 182, 1);

      &::after {
        width: 50%;
      }
    }
  }
}

p {
  margin: 0;
}