header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 98px;
  z-index: 2;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;

  .nav-container {
    position: relative;
    display: inline-block;

    img {
      cursor: pointer;
      display: block;
    }

    .normal {
      transition: opacity 125ms ease-in-out;
    }

    .hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 125ms ease-in-out;
    }

    &:hover {
      .normal {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }
}

p {
  margin: 0;
}