<header>
  <div class="nav-bar">
    <div class="nav-container">
      <img class="normal" src="/assets/imgs/header/english-button.png" alt="English button">
      <img class="hover" src="/assets/imgs/header/english-button-hover.png" alt="English button hover">
    </div>

    <a href="#" class="nav-container">
      <img class="normal" src="/assets/imgs/header/about-me.png" alt="About Me">
      <img class="hover" src="/assets/imgs/header/about-me-hover.png" alt="About Me">
    </a>
    <a href="#" class="nav-container">
      <img class="normal" src="/assets/imgs/header/skills.png" alt="About Me">
      <img class="hover" src="/assets/imgs/header/skills-hover.png" alt="About Me">
    </a>
    <a href="#" class="nav-container">
      <img class="normal" src="/assets/imgs/header/projects.png" alt="About Me">
      <img class="hover" src="/assets/imgs/header/projects-hover.png" alt="About Me">
    </a>
  </div>

  <p>LOGO</p>
</header>