<div class="legal-notice-overlay" [class.active]="showLegalNotice">
  <div class="overlay-content">
    <h2>{{ 'FOOTER.LEGAL_NOTICE' | translate }}</h2>
    <div class="scroll-content">
      <p>{{ 'FOOTER.LEGAL.TITLE' | translate }}</p>
      <p [innerHTML]="'FOOTER.LEGAL.CONTACT' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.REPRESENTATIVE' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.CONTACT_INFO' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.DISCLAIMER' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.LIABILITY' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.COPYRIGHT' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.PRIVACY' | translate"></p>
      <p [innerHTML]="'FOOTER.LEGAL.FROM' | translate"></p>
    </div>
  </div>
</div>
<app-footer></app-footer>