<div class="imprint-container">
  <div class="header-background"></div>
  <div class="content-width">
    <header id="imprint">
      <a href="#landing-page"><img class="logo" src="assets/imgs/logo-page.png" alt="logo"></a>
      <div class="nav-bar">
        <div class="nav-container" (click)="changeButton()">
          <img class="normal" [src]="languageButtonSrc" [alt]="languageButtonAlt">
          <img class="hover" [src]="languageButtonHoverSrc" [alt]="languageButtonHoverAlt">
        </div>
      </div>
    </header>
    <h2>{{ 'IMPRINT.HEADLINE' | translate }}</h2>
    <div class="scroll-content">
      <p>{{ 'IMPRINT.TITLE' | translate }}</p>
      <p>{{ 'IMPRINT.CONTACT' | translate }}</p>
      <p [innerHTML]="'IMPRINT.REPRESENTATIVE' | translate"></p>
      <p [innerHTML]="'IMPRINT.CONTACT_INFO' | translate"></p>
      <p [innerHTML]="'IMPRINT.DISCLAIMER' | translate"></p>
      <p [innerHTML]="'IMPRINT.LIABILITY' | translate"></p>
      <p [innerHTML]="'IMPRINT.COPYRIGHT' | translate"></p>
      <p [innerHTML]="'IMPRINT.PRIVACY' | translate"></p>
      <p [innerHTML]="'IMPRINT.FROM' | translate"></p>
    </div>
  </div>
</div>
<app-footer></app-footer>