<header>
  <div class="nav-bar">
    <div class="nav-container" (click)="changeButton()">
      <img class="normal" [src]="languageButtonSrc" [alt]="languageButtonAlt">
      <img class="hover" [src]="languageButtonHoverSrc" [alt]="languageButtonHoverAlt">
    </div>
    
    <a href="#about-me-section">{{ 'NAV.ABOUT' | translate }}</a>
    <a href="#skills-section">{{ 'NAV.SKILLS' | translate }}</a>
    <a href="#projects-section">{{ 'NAV.PROJECTS' | translate }}</a>
  </div>

  <img class="logo" src="assets/imgs/logo-page.png" alt="logo">
  
  <div class="hamburger-icon" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="mobile-menu" [class.open]="mobileMenuOpen">
    <div class="mobile-nav-items">
      <a href="#about-me-section">{{ 'NAV.ABOUT' | translate }}</a>
      <a href="#skills-section">{{ 'NAV.SKILLS' | translate }}</a>
      <a href="#projects-section">{{ 'NAV.PROJECTS' | translate }}</a>
      <div class="mobile-language" (click)="changeButton()">
        <img class="normal" [src]="languageButtonSrc" [alt]="languageButtonAlt">
        <img class="hover" [src]="languageButtonHoverSrc" [alt]="languageButtonHoverAlt">
      </div>
    </div>
  </div>
</header>