<div class="landing-page">
  <div class="header-background"></div>
  <div class="content-width">
    <app-header></app-header>

    <div class="your-info">
      <h2>{{ 'HERO.JOB_TITLE' | translate }}</h2>
      <h1>Robby Runge</h1>
      <div class="button-position-you-info">
        <a href="#projects-section" class="button-link">
          <span class="text-container">{{ 'HERO.MY_PROJECTS' | translate }}</span>
        </a>
        <a href="#" class="button-link">
          <span class="text-container">{{ 'HERO.CONTACT_ME' | translate }}</span>
        </a>
      </div>
    </div>

    <div class="container-scroll-down">
      <div class="arrow-bottom"></div>
      <div class="border-left"></div>
    </div>

    <div class="container-info-links">
      <div class="icon-position">
        <div class="social-icon">
          <a href="https://linkedin.com/in/robby-runge-796494368" target="_blank"><img class="normal"
              src="assets/imgs/header/linkedin.png" alt="linkedin"></a>
          <a href="https://linkedin.com/in/robby-runge-796494368" target="_blank"><img class="hover"
              src="assets/imgs/header/linkedin-hover.png" alt="linkedin"></a>
        </div>

        <div class="social-icon">
          <a href="https://github.com/RobbyRunge" target="_blank"><img class="normal"
              src="assets/imgs/header/github.png" alt="github"></a>
          <a href="https://github.com/RobbyRunge" target="_blank"><img class="hover"
              src="assets/imgs/header/github-hover.png" alt="github"></a>
        </div>

        <div class="social-icon email-mobile-icon">
          <a href="mailto:robbyrunge@yahoo.com"><img class="normal" src="assets/imgs/header/mail.png" alt="mailto"></a>
          <a href="mailto:robbyrunge@yahoo.com"><img class="hover" src="assets/imgs/header/mail-hover.png" alt="mailto-hover"></a>
        </div>
      </div>
      <div class="border-right"></div>
      <div class="email">
        <a href="mailto:robbyrunge@yahoo.com">robbyrunge&#64;yahoo.com</a>
      </div>
    </div>
  </div>

  <div class="marquee">
    <div class="marquee-inner">
      <p>{{ 'MARQUEE.MOBILE_WORK' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.FRONTEND_DEV' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.LOCATION' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.AVAILABLE' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.MOBILE_WORK' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.FRONTEND_DEV' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.LOCATION' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.AVAILABLE' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.MOBILE_WORK' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.FRONTEND_DEV' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.LOCATION' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.AVAILABLE' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.MOBILE_WORK' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.FRONTEND_DEV' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.LOCATION' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>

      <p>{{ 'MARQUEE.AVAILABLE' | translate }}</p>
      <p><img src="assets/imgs/header/radio-button.png" alt="radio button"></p>
    </div>
  </div>
</div>