.landing-page {
  height: 100vh;
  background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

  .you-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      font-family: Fira Code;
      font-weight: 400;
      font-size: 40px;
      margin: 0;
    }

    h1 {
      margin: 0;
      font-size: 128px;
    }

    .button-position-you-info {
      display: flex;
      justify-content: center;
      gap: 48px;

      button {
        height: 48px;
        width: 182px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 100px;
        position: relative;
        overflow: hidden;
        transition: border 125ms ease-in-out;

        .text-container {
          display: inline-block;
          white-space: nowrap;
          position: relative;
          color: rgba(255, 255, 255, 1);
          transition: color 125ms ease-in-out;
        }

        &:hover {
          border: 1px solid rgba(61, 207, 182, 1);

          .text-container {
            color: rgba(61, 207, 182, 1);
            animation: marquee 2s linear infinite;
            animation-delay: 125ms;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  49.9% {
    transform: translateX(-150%);
    opacity: 1;
  }

  50% {
    transform: translateX(150%);
    opacity: 0;
  }

  50.1% {
    opacity: 0;
  }

  50.2% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
  pointer-events: none;
}

.container-scroll-down {
  position: absolute;
  bottom: 0;
  height: 312px;
  width: 30px;
  gap: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .arrow-bottom {
    width: 30px;
    height: 48px;
    border-radius: 20px;
    border: 1px solid rgba(61, 207, 182, 1);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border-left: 1px solid rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      transform: translate(-50%, -50%) rotate(-45deg);
      animation: bounce 1.5s infinite;
    }
  }

  .border-left {
    position: absolute;
    bottom: 0;
    border: 1px solid rgba(61, 207, 182, 1);
    height: 240px;
    width: 0;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(-50%, -100%) rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -40%) rotate(-45deg);
  }
}

.container-info-links {
  height: 480px;
  gap: 24px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;

  .border-right{
    position: absolute;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 186px;
    width: 0;
  }
}