<div class="featured-projects">
  <div class="content-width">
    <div class="featured-projects-text">
      <p>Portfolio</p>
      <h3>Besondere Projekte</h3>
      <span>Entdecken Sie hier eine Auswahl meiner Arbeiten - Interagieren Sie mit Projekten, um meine Fähigkeiten in
        Aktion zu sehen.</span>

      <div class="projects-list">
        <div class="join-project">
          <p>Join <img class="project-arrow" src="assets/imgs/featured-projects/arrow-project.png" alt="Arrow project"></p>
          <p>HTML <span>|</span> CSS <span>|</span> JavaScript <span>|</span> Firebase</p>
        </div>
        <div class="sharkie-project">
          <p>Sharkie <img class="project-arrow" src="assets/imgs/featured-projects/arrow-project.png" alt="Arrow project"></p>
          <p>HTML <span>|</span> CSS <span>|</span> JavaScript</p>
        </div>
        <div class="da-bubble-project">
          <p>DA Bubble <img class="project-arrow" src="assets/imgs/featured-projects/arrow-project.png" alt="Arrow project"></p>
          <p>HTML <span>|</span> CSS <span>|</span> JavaScript <span>|</span> Firebase</p>
        </div>
      </div>

    </div>
  </div>
</div>