@font-face {
  font-family: Karla;
  src: url(../src/assets/fonts/Karla/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: Fira Code;
  src: url(../src/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

* {
  color: rgba(255, 255, 255, 1);
  font-family: Karla;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.content-width {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

app-root {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

// .custom-cursor {
//   position: fixed;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: rgba(61, 207, 182, 0.3);
//   pointer-events: none;
//   transform: translate(-50%, -50%);
//   z-index: 9999;
//   box-shadow: 0 0 100px 20px rgba(61, 207, 182, 0.3),
//               0 0 40px 20px rgba(61, 207, 182, 0.3);
//   transition: transform 0.2s ease;
// }