body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.content-width {
  width: 1440px;
  margin: 0 auto;
}

app-root {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}