<footer>
  <div class="content-width">
    <div class="footer-container">
      <div class="logo-and-text">
        <a href="#landing-page"><img src="assets/imgs/logo-page.png" alt="logo"></a>
        <p>{{ 'FOOTER.DEVELOPER' | translate }}</p>
        <p>{{ 'FOOTER.LOCATION' | translate }}</p>
      </div>
      <div class="copyright">
        <p>&copy; Robby Runge 2025</p>
      </div>
      <div class="links">
        <a href="https://github.com/RobbyRunge" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/robby-runge-796494368" target="_blank">LinkedIn</a>
        <a href="mailto:robbyrunge@yahoo.com">{{ 'FOOTER.EMAIL' | translate }}</a>
        <a (click)="navigateToImpressum()">{{ 'FOOTER.IMPRINT' | translate }}</a>
      </div>
    </div>
  </div>
</footer>